{% extends "layout.html" %}

{% block content %}

    <!-- Loading div displayed when form is loading -->
<div id="the-loading-div" style="display: none;">
    <br>
    <br>
    <br>
    <img src="static/loader.gif" alt="Loading GIF">
    <br>
    <br>
    <p>Loading...</p>
</div>

<h3 class="content">Common formats</h3>

<div id="the-content-div">
    <div class="row">
        <form enctype=multipart/form-data action={{url_for('get_formats')}} method="POST">
            <div class="column">
                <h4>Out</h4>
                <div class="flex-container">
                    <div class="form-group">

                        <!-- With Jinja, dynmically create one button per software. -->
                        {% for button in buttons %}
                        {% set list = [button, 'out'] %}
                            <input type="radio" class="btn-check" name="btn-out" id={{ list|join('') }} value={{ list|join('') }}>
                            <label class="btn btn-secondary btn-sm custom" for={{ list|join('') }}>{{ button }}</label>
                        {% endfor %}

                    </div>
                </div>
            </div>
            <div class="column">
                <p>Compatible formats are:</p>
                <p>{{ text | safe }}</p>
            </div>
            <div class="column">
                <h4>In</h4>
                <div class="flex-container">
                    <div class="form-group">

                        <!-- With Jinja, dynmically create one button per software. -->
                        {% for button in buttons %}
                        {% set list = [button, 'in'] %}
                            <input type="radio" class="btn-check" name="btn-in" id={{ list|join('') }} value={{ list|join('') }}>
                            <label class="btn btn-secondary btn-sm custom" for={{ list|join('') }}>{{ button }}</label>
                        {% endfor %}

                    </div>  
                </div>
            </div>
            <div class="content">
                <input type="submit" value="Submit" class="btn btn-primary" id="submit-button">
            </div>
        </form>
        <div>
            <p>NEXT</p>
            <ul>
                <li>Add all softwares</li>
                <li style="color: green;">Dynamically add buttons</li>
                <li>Make file format clickable and give more informations about what is does</li>
                <li>Tab with all file formats and description</li>
                <li>Finish CSS</li>
            </ul>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        // Show loading gif/text when submitting form

        $('#submit-button').click(function() {
            if ($('form')[0].checkValidity()) {
                $('#the-loading-div').show();
                $('#the-content-div').hide(); 
            }
        });
    });
</script>
{% endblock %}
